.add_btn {
  margin: 30px 0 0 50px;
  border: none;
  background:  none;
  cursor: pointer;
}

.add_btn img {
  height: 50px;
  width: 50px;
}

#post_container {
  height: 700px;
  width: 700px;
  margin: auto;
  background: #fff;
  position:  relative;
  /*display: none;*/
}

.tab_header {
  width: 100%;
  margin: auto;
}

.tab_header p {
  text-align: center;
  background: #383838;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Bell MT", sans-serif;
}

.change_page__container {
  position: absolute;
  background: #383838;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  bottom: 0;
  height: 40px;
}

.change_page__container button {
  border: none;
  height: 30px;
  width: 75px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

