.header_container {
  display: inline-flex;
  width: 100%;
  background-color: #DCDCDC;
  margin: 0;
  padding: 0;
  user-select: none;
}

.logo_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

nav {
  font-size: 60px;
  color: #000;
}

img {
  padding: 0 25px 0 25px;
  height: 100px;
  width: 75px;
}
