<div>

  <!--burger button, kinda thing maybe for mobile?-->
<!--  <button class = "open_menu" (click)= showNavBar()>-->
<!--    <img src="images/burger_menu.png">-->
<!--  </button>-->

<!--  <nav id="nav_bar">-->
<!--    <ul>-->
<!--      <li id = "button"><button class="close_menu_button" (click)="closeNavBar()">-->
<!--        <img src="images/exit_button.png">-->
<!--      </button></li>-->
<!--      <li><a  routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>-->
<!--      <li><a>Visual Arts</a></li>-->
<!--      <li><a>Literary Arts</a></li>-->
<!--      <li><a>Performing Arts</a></li>-->
<!--      <li><a>All Arts</a></li>-->
<!--      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>-->
<!--    </ul>-->
<!--  </nav>-->

  <nav id="nav_bar">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a>Visual Arts</a></li>
      <li><a>Literary Arts</a></li>
      <li><a>Performing Arts</a></li>
      <li><a>All Arts</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    </ul>
  </nav>
</div>
