.header_container {
  display: inline-flex;
  width: 100%;
  background-color: #DCDCDC;
  user-select: none;
  align-items: center;
  justify-content: center;
}

.logo_container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /*margin: auto;*/
}

.logo {
  font-size: 60px;
  font-weight: 500;
  color: #000;
}

.logo_container img {
  padding: 0 25px 0 25px;
  height: 100px;
  width: 75px;
}
