.footer_container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  background-color: #383838;
  color: #fff;
}

.footer_container div {
  margin: 0 150px 0 150px;
  height: 200px;
}

.footer_container div p {
  padding-top: 10px;
}

.footer_container div ul {
  list-style: none;
  padding-left: 5px;
}
