<div class="footer_container">

  <p>Thank you for reading through it all!<br>
    Here's some more additional info!</p>

  <div>
    <p>Navigation</p>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a>Visual Arts</a></li>
      <li><a>Literary Arts</a></li>
      <li><a>Performing Arts</a></li>
      <li><a>All Arts</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    </ul>
  </div>

  <div>
    <p>Support the project</p>
    <ul>
      <li>BuyMeACoffe</li>
      <li>Patreon</li>
      <li>Email</li>
    </ul>
  </div>
</div>
