

.welcome_block {
  width: 100%;
  height: 500px;
  background-color: aquamarine;
  position: relative;
  top: 0;
}

.text_container {
  padding: 150px;
  display: inline-block;
  margin: auto;
}

.text_container h1 {
  margin: 0;
  font-size: 100px;
}

.paragraphs_container {
  padding: 70px 0 0 30px;
  font-size: 40px;
}

.paragraphs_container a {
  text-decoration: underline;
  padding-left: 55px;
}

.art_introduction_container {
  display: flex;
  align-items: center;
  margin: auto;
  flex-flow: column nowrap;
}

.art_introduction_container h1 {
  font-size: 45px;
  padding-top: 40px;
}

.art_navigation__container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-top: 40px;
}

.art_navigation__container button {
  background-color: #fff;
  padding: 10px 30px 10px 30px;
  margin: 0 20px 0 30px;
  border: 1px solid #000;
  font-size: 22px;
  cursor: pointer;
}

.art_navigation__container button :hover {
  text-decoration: underline;
}

.art_showcase_container {
  width: 100%;
  height: 800px;
}

.art_showcase_container div {
  display: none;
}

#visual_art__block {
  display: block;
}

.art_block {
  background-color: #383838;
  height: 95%;
  margin: 0 50px 20px 50px;
}


