html {
  margin: 0;
  padding: 0;
}

.side_bars {
  background-color: #B3B3B3;
  height: 1000px;
  width: 100%;
}



.main_container {
  margin: auto;
  background-color: #D9D9D9;
  height: 100%;
  width: 1300px;
}

